.list-item-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    row-gap: 20px; /* Gap between grid items */
}

.inner-div-1, .inner-div-2 {
    padding: 10px;
}

.inner-div-2-content {
    text-align: left;
    color: darkgreen;
    font-family: cursive;
    font-style: italic;
    font-weight: 1000;
    font-style: bold;
    font-size: 20px;
    margin-top: 40px;
}

/* For medium screens and below (e.g., tablets, smaller laptops) */

@media (max-width: 288px){

    .list-item-div {
        grid-template-columns: 1fr; /* One column layout */
    }

    .inner-div-2-content {
        text-align: center;
        font-size: 16px;
    }
  }
  @media (min-width:289px) and (max-width:576px){
    .list-item-div {
        grid-template-columns: 1fr; /* One column layout */
    }

    .inner-div-2-content {
        text-align: center;
        font-size: 16px;
    }
  }
  @media (min-width: 577px) and  (max-width: 767px) {
    .list-item-div {
        grid-template-columns: 1fr; /* One column layout */
    }

    .inner-div-2-content {
        text-align: center;
        font-size: 18px;
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .list-item-div {
        grid-template-columns: 1fr; /* One column layout */
    }

    .inner-div-2-content {
        text-align: center;
        font-size: 18px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    
  }
  @media (min-width: 1201px) {
  }
  