.About_content{
    color:#2c3e50;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: italic;
    font-size:20px;
}
.scrollable-div::-webkit-scrollbar{
    display:none;
}
.scrollable-div{
    border-radius: 5%;
    z-index: 10;
    background-color: rgb(252,252,252);
    box-shadow: 5px 5px 5px 5px #FC6d6d;
    padding:5px;
    margin:5px;
}
.precise_insights{
    font-family: 'Times New Roman', Times, serif;
    color:#FC6d6d;
    font-weight: 500;
    font-style: bold;
    font-size: 20px;
    margin:5px;
    padding:5px;
}
ul{
    list-style: none;
}
.precise_insights_content{
    font-family: 'Times New Roman', Times, serif;
    color: darkgreen;
    font-weight: 500;
    font-style: bold;
    font-size: 18px;
}

@media (max-width: 288px){
    .scrollable-div{
        height:300px;
        width:100%;
    }
    
}
@media (min-width:289px) and (max-width:576px){
  .scrollable-div{
    height:300px;
    width:100%;
  }
  
}
@media (min-width: 577px) and  (max-width: 767px) {
  .scrollable-div{
    height:500px;
    width:100%;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  .scrollable-div{
    height:350px;
    width:350px;
  }
  
}

@media (min-width: 992px) and (max-width: 1200px) {
  .scrollable-div{
        height:500px;
        width:500px;
  }
    
}
@media (min-width: 1201px) {
  .scrollable-div{
        height:500px;
        width:500px;
  }
  
}
  