.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
    gap: 5px; /* Gap between grid items */
    padding: 10px;
}

.grid-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

p{
    color:crimson;
    font-weight: 500;
    font-family: cursive;
    font-style: italic;
}
h1, h2, h3 {
    color: darkgreen;
    list-style: none;
    font-style: normal;
    font-weight: 200;
    font-family: serif;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}

.wrapper {
    display: inline-flex;
}


@media (max-width: 576px) {
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 28px;
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 28px;
    }
    
}

@media (min-width: 769px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 32px;
    }
    
}

@media (max-width: 576px) {
    .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .welcome-info-div {
        order: 1;
    }
    .welcome-info-image {
        order: 2;
    }
    .svgimage{
        width:350px;
        height:350px;
    }
}
