
  .myImage {
    /* width: 400px; */
    /* height: 500px; */
    border-radius: 40%;
    border: 3px solid #2c3e50;
    box-shadow: 5px 10px 8px 10px #888888;
    position: sticky;
    animation: pulse 4s infinite alternate; /* Animation properties */
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1); /* Initial and final scale */
  }
  50% {
    transform: scale(1.1); /* Scaled up during the animation */
  }
}


@media (max-width: 288px){
    .myImage{
      width:300px;
      height:350px;
    }
}
@media (min-width:289px) and (max-width:576px){
  .myImage{
    width:300px;
    height:350px;
  }
}
@media (min-width: 577px) and  (max-width: 767px) {
  .myImage{
    width:300px;
    height:350px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .myImage{
    width:300px;
    height:350px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .myImage{
    width:400px;
    height:500px;
  }
  
}
@media (min-width: 1201px) {
  .myImage{
    width:400px;
    height:500px;
  }
}
  