/* fontFamily: "serif", fontStyle: "bold", margin: "15px", color:"maroon", fontSize:"50px", display:"flex", flexDirection:"column", gap:"5px", */
.project_heading{
    font-family:serif;
    font-style:bold;
    margin:15px;
    color:maroon;
    font-size: 50px;
}
.project_container{

    display: flex !important;
    flex-direction: column !important;
    gap:50px !important;
    /* overflow-y: scroll;
    height:450px; */
    
}