h1,h2,h3, .subheading{
    color: darkgreen;
    list-style: none;
    font-style:normal;
    font-weight: 200;
    font-family: serif;
    
}
.subheading{
    margin: 5px;
    padding: 5px;
}
.service-component{
    width:400px;
    height:300px;
    margin: 20px;

    border-radius: 10%;
    z-index: 15;
    box-shadow: 5px 5px 5px 5px #888888;
    animation: pulse 4s infinite alternate; /* Animation properties */
}

@media (max-width: 288px){
  .service-component{
    width:350px;
    height:250px;
    margin: 20px;
  }
  .service-info{
    font-size: 15px;
  }
}
@media (min-width:289px) and (max-width:576px){
  .service-component{
    width:400px;
    height:300px;
    margin: 20px;
  }
}
@media (min-width: 577px) and  (max-width: 767px) {
  .service-component{
    width:400px;
    height:300px;
    margin: 20px;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  .service-component{
    width:400px;
    height:300px;
    margin: 15px;
  }
  .service-info{
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .service-component{
    width:350px;
    height:250px;
    margin: 20px;
  }
  .service-info{
    font-size: 13px;
  }
}
@media (min-width: 1201px) {
  .service-component{
    width:400px;
    height:300px;
    margin: 20px;
  }
}
.service-info{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: maroon;
    padding:5px;
    margin:5px;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1); /* Initial and final scale */
  }
  50% {
    transform: scale(1.1); /* Scaled up during the animation */
  }
}
/* .col-gap{
    margin-bottom: 5px;
    margin-top: 5px;
}
.row-gap{
    margin-right:5px;
    margin-left:5px;
} */
